<div class = "textfont">
	<div style="text-align:left;">
		<table align ="left">
			<tr>
				<td>Institution *</td>
				<td><input type="text" name="university"  id="university" ></td>
			</tr>	
			<tr>
				<td>Degree *</td>
				<td><input type="text"  name="certificate" id="certificate"></td>
			</tr>
			
			<tr>
				<td>Field of Study *</td>
				<td><input type="text" name="field" id="field"> </td>
			</tr>
			<tr>
				<td>Date *</td>
				<td><input type="text" name="from" id="opdate"> </td>
			</tr>
			<tr>
				<td colspan="2">
					<button class="buttonStyle " type="button">Add</button>
					<%= submit_tag "Cancel", :onclick => "window.close()" , :class => 'buttonStyle' %>
				 </td>
			</tr>
		</table>
	</div>
</div>


