
<div class = "textfont">
	<div style="text-align:left;">
		<table>
			<tr>
<<<<<<< HEAD
				<td width="150px">Company *</td>
=======
				<td>Company *</td>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				<td><input type="text" name="company"  id="company" ></td>
			</tr>
			<tr>
				<td>Position *</td>
				<td><input type="text"  value="" name="job" id="job"></td>
			</tr>
			<tr>
				<td>From *</td>
				<td><input type="text" class="sdate" name="from" id="opdate"> </td>
			</tr>
			<tr>
				<td>Until *</td>
				<td><input type="text" name="till" id="datepickers"> </td>
			</tr>
			<tr>
				<td colspan="2">
<<<<<<< HEAD
					<ul style="float:left;list-style:none;margin-left:-40px;">
						<li style="float:left;list-style:none;"><button type="button">Add</button></li>
						<li style="float:left;list-style:none;margin-top:-20px;"><%= submit_tag "Cancel", :onclick => "window.close()"  %></li>
					<ul>
=======
					<button class="buttonStyle" type="button">Add</button>
					<%= submit_tag "Cancel", :onclick => "window.close()" , :class => 'buttonStyle' %>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				 </td>
			</tr>
		</table>
	</div>
</div>


