
<div class = "textfont">
	<div style="text-align:letf;">
		<table>
			<tr>	
				 <td>Resume:</td>
				 <td align="left">  <%= file_field_tag 'upload[file]' %></td>
			</tr>				
			<tr>
				<td colspan="2">
					<input type ="submit" value ="Add" id = "button" class="buttonStyle " name="add">
					<button class="buttonStyle " type="button">Close</button>
				 </td>
			</tr>
		</table>
	</div>
</div>


