<div class = "textfont">
	<div style="text-align:left;">
		<table align ="left">
			<tr>
<<<<<<< HEAD
				<td width="150px">Institution *</td>
=======
				<td>Institution *</td>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				<td><input type="text" name="university"  id="university" ></td>
			</tr>	
			<tr>
				<td>Degree *</td>
				<td><input type="text"  name="certificate" id="certificate"></td>
			</tr>
			
			<tr>
				<td>Field of Study *</td>
				<td><input type="text" name="field" id="field"> </td>
			</tr>
			<tr>
				<td>Date *</td>
				<td><input type="text" name="from" id="opdate"> </td>
			</tr>
			<tr>
				<td colspan="2">
<<<<<<< HEAD
					<ul style="float:left;list-style:none;margin-left:-40px;">
						<li style="float:left;list-style:none;"><button type="button">Add</button></li>
						<li style="float:left;list-style:none;margin-top:-20px;"><%= submit_tag "Cancel", :onclick => "window.close()"  %></li>
					<ul>
=======
					<button class="buttonStyle " type="button">Add</button>
					<%= submit_tag "Cancel", :onclick => "window.close()" , :class => 'buttonStyle' %>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				 </td>
			</tr>
		</table>
	</div>
</div>


