
<div class = "textfont">
<<<<<<< HEAD
	<div style="text-align:left;">
=======
	<div style="text-align:letf;">
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
		<table>
			<tr>	
				 <td>Resume:</td>
				 <td align="left">  <%= file_field_tag 'upload[file]' %></td>
			</tr>				
			<tr>
<<<<<<< HEAD
				<td colspan="2" align="left">
					<ul style="float:left;list-style:none;margin-left:-40px;">
						<li style="float:left;list-style:none;"><button type="button">Add</button></li>
						<li style="float:left;list-style:none;margin-top:-20px;"><%= submit_tag "Cancel", :onclick => "window.close()"  %></li>
					<ul>
=======
				<td colspan="2">
					<input type ="submit" value ="Add" id = "button" class="buttonStyle " name="add">
					<button class="buttonStyle " type="button">Close</button>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				 </td>
			</tr>
		</table>
	</div>
</div>


