<<<<<<< HEAD

<script>
	$(function() {
	$( "input[type=submit] , button" )
	.button()
	.click(function( event ) {
		});
	});
</script>



=======
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
<title>Employee</title>
<div id="container" style="width:100%" class ="textfont">
	<table width="70%" border="0" cellpadding="0" cellspacing="0" align = "center">
		
		<tr>
			<td><div class ="fontHeading " align = "center"><h1>My Portfolio</h1></div></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<%= form_tag(:action => "updateMyProfile") do  %>	
					<%= render 'formEditMyProfile' %>
				<% end %>
			</td>
		</tr>
	</table>
</div>
