<title>Employee</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script>
	$(document).ready(function(){
		$("button").click(function() {
			
			var skill 			 	 = 		document.getElementById('certificate');
			var description		 	 = 		document.getElementById('description');
			var id				 	 = 		document.getElementById('add');


			var skilllen 		 	 = 		skill.value.length;
			var descriptionlen 	 	 = 		description.value.length;
			
			if (skilllen == 0 || descriptionlen == 0)
			{
				alert("some field is empty");  
				return false;
			}
				
			else
			{
	
				  var skills 		 	 = 		skill.value;
				  var descriptions	 	 = 		description.value;
				  var id 	 			 = 		id.value;
				  $.ajax({ 
						  type: 'GET', 
						  url: '/employee/myCert', 
						  data: {'degree' : skills, 'university':descriptions, 'id':id},
						  success: function(data) 
							{
								
							   certificate = data.certificate
							   description = data.description
													  
								var dta = window.opener.$("#cert");
								$(dta).append($('<tr>'));
								$(dta).append($('<td width ="300">').append(certificate));
								$(dta).append($('</td>'));
								$(dta).append($('<td><%= link_to 'Delete' %></td>'));
								$(dta).append($('</tr>'));
								$(dta).append($('<tr>'));
								$(dta).append($('<td width ="300">'));
								$(dta).append(description);
								$(dta).append($('</td>'));
								$(dta).append($('</tr>'));
								$(dta).append($('<tr>'));
								$(dta).append($('<td>&nbsp</td>'));
								$(dta).append($('</tr>'));
								self.close();
							} 
						});				
			}
		});
	});	
</script>
<title>Employee</title>
<div id="container" style="width:100%" class ="textfont">
	<div id="header" style="height:50px;margin-left: 3%;">
		<%= link_to image_tag('/images/logo.jpg') , url_for({:controller => 'home', :action => 'homePage'}) %> 
	</div>
			<table width="70%" border="0" cellpadding="0" cellspacing="0" align ="center" >
				<tr>
					&nbsp;
				</tr>
				<tr>
					&nbsp;
				</tr>
				<tr>
					<td>
						<%= form_tag() do  %>	
							<%= render 'formMyCertificates' %>
						<%end%>
					</td>
				</tr>
			</table>
		</body>	
	</div>	
</div>
