<<<<<<< HEAD

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script>
	$(function() {
	$( "input[type=submit] , button" )
	.button()
	.click(function( event ) {
		});
	});
</script>

<title>Employee</title>

=======
<title>Employee</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
<script>
	$(document).ready(function(){
		$("#button").click(function() {
			
			var skill 			 	 = 		document.getElementById('upload_file');
			var skilllen 		 	 = 		skill.value.length;
			
			if (skilllen == 0)
			{
				alert("some field is empty");  
				return false;
			}
			
			
				
			else
			{
				  return true;		
			}
			
		});
	});	
</script>
<script>
	$(document).ready(function(){
		$("button").click(function() 
			{
				opener.location.reload(true);
				self.close();
			});
		});
		
</script>

<<<<<<< HEAD
<script>
$(document).ready(function(){
    $( "#wrapHeader" ).hide();
    $( "#wrapFooter" ).hide();
});
</script>

</head>

<body>

<!-- MAIN CONTENT -->
<div id="wrapContent" class="clearfix">



<!-- ONE COLUMN -->
<div id="oneCol" class="clearfix">
	<!-- Insert jQuery tabs here if applicable -->
	<div class="content">
		<table width="100%">
			<tbody>
=======
<div id="container" style="width:100%" class ="textfont">
	<div id="header" style="height:50px;margin-left: 3%;">
		<%= link_to image_tag('/images/logo.jpg') , url_for({:controller => 'home', :action => 'homePage'}) %> 
	</div>
			<table width="70%" border="0" cellpadding="0" cellspacing="0" align ="center" >
				<tr>
					&nbsp;
				</tr>
				<tr>
					&nbsp;
				</tr>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
				<tr>
					<td>
						<%= form_tag({:action => "myResumePopup"}, :multipart => true) do  %>	
							<%= render 'formMyResumePopup' %>
						<%end%>
<<<<<<< HEAD
					</td>				
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- END ONE COLUMN -->


</div>
<!-- END MAIN CONTENT -->

</body>
</html>



=======
					</td>
				</tr>
			</table>
		</body>	
	</div>	
</div>
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
