<div class = "textfont">
	<% unless(@cnt_ary.nil?)%>	
		<% @cnt_ary.each do |value| %>
			<table>
				<tr>
					<td>
						Candidate Name
					</td>
					<td>
						 <%= value['candidateName'] %> <%= value['candidateLName'] %>
					</td>
				</tr>
				<tr>
					<td>
						Candidate Address
					</td>
					<td>
						<%= value['candidateAddress'] %>
					</td>
				</tr>
				<tr>
					<td>
						Candidate Email
					</td>
					<td>
						<%= value['candidateEmail'] %>
					</td>
				</tr>
<<<<<<< HEAD
			</table>	
=======
			<table>	
>>>>>>> 06b4c5f4f2abceed39efb0ef83e9f861d0869318
		<% end %>
	<% end %>		
</div>
